.switch__button-box {
	background-color: rgb(105, 159, 37);
	width: 50px;
	margin: 0px auto;
	padding: 8px;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		box-shadow: 0px 0px 16px 0px rgba(105, 160, 37, 1);
	}
}
.switch__button-img {
	width: 30px;
	height: 30px;
}
