.main__select-option {
	background: rgb(91, 91, 91);
}
.main__input {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	width: 100%;
	border-radius: 0px;
	padding: 15px;
	color: white;
	cursor: pointer;
	margin-left: 10px;
	&:focus {
		background-color: rgba(0, 0, 0, 0);
		box-shadow: none;
		outline: none;
		border-bottom: 1px solid rgba(255, 255, 255);
		color: white;
	}
	&:hover {
		border-bottom: 1px solid rgba(255, 255, 255);
	}
}
