.footer {
	background-color: #303030;
	padding: 15px 0px 15px 0px;
	color: rgba(255, 255, 255, 0.54);
}
.footer__link {
	color: rgb(105, 159, 37);
	padding-top: 15px;
	margin-right: 15px;
	&:hover {
		color: white;
	}
}
.footer__phones {
	margin-top: 20px;
}
.footer__phone {
	span {
		color: white;
		margin-right: 12px;
	}
}
.footer__copyright {
	margin-top: 30px;
}
.footer__flag {
	margin-right: 8px;
}
